<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    Location listing
    <% locations.forEach(location => { %>
      <li>
        <a href="/location/<%= location._id %>">
          <%= location.name %> &nearr;
        </a>
        <div class="admin-post-controls">
          <!-- <a href="" class="btn">Edit</a>
  
          <form action="" method="POST">
            <input type="submit" value="Delete" class="btn-delete btn">
          </form> -->
        </div>
  
      </li>
  
    <% }) %>
  </div>
  <div class="headings">
    <h2>Add location details</h2>
    <form action="/" method="POST" enctype="multipart/form-data">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="enter city name">
      <label for="country">Country</label>
      <input type="text" id="country" name="country" placeholder="enter country name">
      <label for="image">Image</label>
      <input type="file" id="image" name="image" required><br><br>
      <button type="submit">submit</button>
    </form>
  </div>
</header>

<%- include('partials/footer'); -%>